create following indicators, which is requried by SG.

- ees_mnag_noc_rt: Share of paid employment in non-agricultural employment, men (%)
- ees_fnag_noc_rt: Share of paid employment in non-agricultural employment, women (%)
- ees_tnag_noc_rt: Share of paid employment in non-agricultural employment (%)

select Employment and then Employees by sex and economic activity,
you just need to unselect Agriculture.  You can do the same for
Employment by sex and economic activity.  And then it's the ratio
of both.

In [1]:
import pandas as pd

In [59]:
from ddf_utils.str import format_float_digits

In [2]:
employment = pd.read_csv('../../ddf--datapoints--emp_temp_sex_eco_nb--by--ref_area--sex--classif1--time.csv')
employees = pd.read_csv('../../ddf--datapoints--ees_tees_sex_eco_nb--by--ref_area--sex--classif1--time.csv')

In [3]:
employment.classif1.unique()

array(['eco_aggregate_agr', 'eco_aggregate_con', 'eco_aggregate_man',
       'eco_aggregate_mel', 'eco_aggregate_mkt', 'eco_aggregate_pub',
       'eco_aggregate_total', 'eco_aggregate_x', 'eco_isic3_a',
       'eco_isic3_d', 'eco_isic3_e', 'eco_isic3_f', 'eco_isic3_g',
       'eco_isic3_h', 'eco_isic3_i', 'eco_isic3_j', 'eco_isic3_k',
       'eco_isic3_l', 'eco_isic3_m', 'eco_isic3_n', 'eco_isic3_o',
       'eco_isic3_p', 'eco_isic3_q', 'eco_isic3_total', 'eco_isic3_x',
       'eco_sector_agr', 'eco_sector_ind', 'eco_sector_nag',
       'eco_sector_ser', 'eco_sector_total', 'eco_sector_x',
       'eco_isic3_b', 'eco_isic3_c', 'eco_isic4_a', 'eco_isic4_b',
       'eco_isic4_c', 'eco_isic4_d', 'eco_isic4_e', 'eco_isic4_f',
       'eco_isic4_g', 'eco_isic4_h', 'eco_isic4_i', 'eco_isic4_j',
       'eco_isic4_k', 'eco_isic4_l', 'eco_isic4_m', 'eco_isic4_n',
       'eco_isic4_o', 'eco_isic4_p', 'eco_isic4_q', 'eco_isic4_r',
       'eco_isic4_s', 'eco_isic4_t', 'eco_isic4_total', 'eco_isic4_u',
       'eco_isic4_x', 'eco_isic4_b_u', 'eco_isic2_1', 'eco_isic2_3',
       'eco_isic2_4', 'eco_isic2_5', 'eco_isic2_6', 'eco_isic2_7',
       'eco_isic2_8', 'eco_isic2_9', 'eco_isic2_total', 'eco_isic2_0',
       'eco_isic2_2', 'eco_aggregate_manel'], dtype=object)

In [15]:
employment[employment.classif1 == 'eco_totnag_nag'].shape

(0, 5)

In [16]:
employment[employment.classif1 == 'eco_sector_nag'].shape

(8118, 5)

In [17]:
employees[employees.classif1 == 'eco_totnag_nag'].shape

(0, 5)

In [18]:
employees[employees.classif1 == 'eco_sector_nag'].shape

(6283, 5)

In [23]:
employment[employment.classif1 == 'eco_sector_nag'].head(10)

    ref_area    sex        classif1  time  emp_temp_sex_eco_nb
107      abw  sex_f  eco_sector_nag  1994               14.930
108      abw  sex_f  eco_sector_nag  1997               17.966
109      abw  sex_f  eco_sector_nag  2007               24.302
110      abw  sex_f  eco_sector_nag  2011               23.424
231      abw  sex_m  eco_sector_nag  1994               20.980
232      abw  sex_m  eco_sector_nag  1997               23.339
233      abw  sex_m  eco_sector_nag  2007               26.953
234      abw  sex_m  eco_sector_nag  2011               24.205
357      abw  sex_t  eco_sector_nag  1994               35.900
358      abw  sex_t  eco_sector_nag  1997               41.305

In [27]:
# check if eco_sector_total - eco_sector_agr == eco_sector_nag

employment[employment.classif1.isin(['eco_sector_total', 'eco_sector_agr'])].head(30)

    ref_area    sex          classif1  time  emp_temp_sex_eco_nb
99       abw  sex_f    eco_sector_agr  1994                0.010
100      abw  sex_f    eco_sector_agr  1997                0.049
101      abw  sex_f    eco_sector_agr  2007                0.096
102      abw  sex_f    eco_sector_agr  2011                0.090
115      abw  sex_f  eco_sector_total  1994               14.940
116      abw  sex_f  eco_sector_total  1997               18.015
117      abw  sex_f  eco_sector_total  2007               24.398
118      abw  sex_f  eco_sector_total  2011               23.514
223      abw  sex_m    eco_sector_agr  1994                0.020
224      abw  sex_m    eco_sector_agr  1997                0.147
225      abw  sex_m    eco_sector_agr  2007                0.256
226      abw  sex_m    eco_sector_agr  2011                0.196
239      abw  sex_m  eco_sector_total  1994               21.000
240      abw  sex_m  eco_sector_total  1997               23.486
241      abw  sex_m  eco_sector_total  2007               27.209
242      abw  sex_m  eco_sector_total  2011               24.401
349      abw  sex_t    eco_sector_agr  1994                0.040
350      abw  sex_t    eco_sector_agr  1997                0.196
351      abw  sex_t    eco_sector_agr  2007                0.352
352      abw  sex_t    eco_sector_agr  2011                0.286
365      abw  sex_t  eco_sector_total  1994               35.940
366      abw  sex_t  eco_sector_total  1997               41.501
367      abw  sex_t  eco_sector_total  2007               51.607
368      abw  sex_t  eco_sector_total  2011               47.915
388      afg  sex_f    eco_sector_agr  2008             1950.196
389      afg  sex_f    eco_sector_agr  2012              565.217
396      afg  sex_f  eco_sector_total  2008             2551.157
397      afg  sex_f  eco_sector_total  2012             1061.452
415      afg  sex_m    eco_sector_agr  2008             2476.535
416      afg  sex_m    eco_sector_agr  2012             1911.862

In [30]:
employment[employment.classif1.isin(['eco_sector_total'])].shape

(8914, 5)

In [31]:
employment[employment.classif1.isin(['eco_sector_agr'])].shape

(8167, 5)

In [32]:
employment[employment.classif1.isin(['eco_sector_nag'])].shape

(8118, 5)

In [19]:
# eco_sector_nag seems to be good to use

In [34]:
emp = employment[employment.classif1.isin(['eco_sector_nag'])].drop('classif1', axis=1)

In [35]:
empee = employees[employees.classif1.isin(['eco_sector_nag'])].drop('classif1', axis=1)

In [37]:
emp = emp.set_index(['ref_area', 'sex', 'time'])['emp_temp_sex_eco_nb']

In [39]:
empee = empee.set_index(['ref_area', 'sex', 'time'])['ees_tees_sex_eco_nb']

In [41]:
emp1, empee1 = emp.align(empee)

In [42]:
emp1.shape

(9084,)

In [43]:
empee1.shape

(9084,)

In [46]:
res = empee1 / emp1 * 100

In [48]:
res.dropna().shape

(5317,)

In [50]:
res = res.dropna().reset_index()

In [52]:
m = res[res.sex == 'sex_m'].drop('sex', axis=1)

In [54]:
m.columns = ['ref_area', 'time', 'ees_mnag_noc_rt']

In [56]:
t = res[res.sex == 'sex_m'].drop('sex', axis=1)
t.columns = ['ref_area', 'time', 'ees_tnag_noc_rt']

In [57]:
f = res[res.sex == 'sex_m'].drop('sex', axis=1)
f.columns = ['ref_area', 'time', 'ees_fnag_noc_rt']

In [60]:
m['ees_mnag_noc_rt'] = m['ees_mnag_noc_rt'].map(format_float_digits)

In [62]:
f['ees_fnag_noc_rt'] = f['ees_fnag_noc_rt'].map(format_float_digits)

In [63]:
t['ees_tnag_noc_rt'] = t['ees_tnag_noc_rt'].map(format_float_digits)

In [64]:
m.to_csv('../../ddf--datapoints--ees_mnag_noc_rt--by--ref_area--time.csv', index=False)

In [65]:
f.to_csv('../../ddf--datapoints--ees_fnag_noc_rt--by--ref_area--time.csv', index=False)

In [66]:
t.to_csv('../../ddf--datapoints--ees_tnag_noc_rt--by--ref_area--time.csv', index=False)